section{
    width:100%;
    height:100vh;
/* border:4px solid black; */
margin-left: 250px;
 background-color:#175481;
 display: flex;
 flex-direction: column;
 align-items: center;

}
.titlebox{
    margin-top: 10px;
    height:104px;
    width:1330px;

    display:flex;
    /* border:2px solid black; */
    justify-content: space-between;
    align-items: center;
    margin-left:48px;
    margin-top: 30px;

}
.titlebox button{
    margin-right:40px;
   width:250px;
   border-radius: 20px 20px 20px;
   height:60px;
   background-color:#033254;
   color:#fff;
   font-size:21px;
   outline:none;
   border:none;
}
.titlebox h1{
        margin-left:60px ;
    font-size:28px;
    font-weight: 380;
    color: #fff;
    margin-left: 37px;
}
.middleContent{
    display: flex;
    width:470px;
    height:260px;
    /* border:2px solid red; */
    flex-direction: column;
   margin-top:80px;
   justify-content: center;
   justify-content: space-evenly;
}
.icons{
    display:flex;
    flex:column;
   justify-content: space-evenly;
   width:320px;
   margin-left: 80px;
   /* border:1px solid black; */
    
}
.middleContent p{
   font-size: 1.40625rem;
   font-weight:500;
   text-align: center;
   color:#ffff;
}
.middleContent button{
    font-size: 1.40625rem;
    height:56px;
    /* border-radius: 15px 15px 15px; */
     border-radius:100px;
    outline: none;
    border:none;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.middleContent button:hover{
    background-color:#efe2e2;
}